body {
    background-color: antiquewhite;
}

h1 {
    color: blueviolet;
    transition: color .5s ease-in-out;
}

.blue_font {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.active {
    color: tomato;
}